<footer class="footer">
  <div class="container">
    
    <div class="row text-center">
      <div class="span12">
          <p><img src="public/img/logo.png" /></p>
      </div>
    </div>
    
    
    <div class="row">
      <div class="span4">
        <ul class="unstyled">
          <li><a href="#">Bilgalleri</a></li>
          <li><a href="#">Lastbilgalleri</a></li>
          <li><a href="#">Scootergalleri</a></li>
          <li><a href="#">Motorcykelgalleri</a></li>
          <li><a href="#">RCgalleri</a></li>
          <li><a href="#">Baadgalleri</a></li>
          <li><a href="#">Traktorgalleri</a></li>
          <li><a href="#">Klassisk-Motor</a></li>
        </ul>
      </div>
      <div class="span4">
        <ul class="unstyled">
          <li><a href="#">Hestegalleri</a></li>
          <li><a href="#">Hundegalleri</a></li>
          <li><a href="#">Kattergalleri</a></li>
          <li><a href="#">Gnavergalleri</a></li>
          <li><a href="#">Krybdyr</a></li>
          <li><a href="#">Fugle</a></li>
        </ul>
      </div>
      <div class="span4">
        <ul class="unstyled">
          <li><a href="#">Hifigalleri</a></li>
          <li><a href="#">Cykelgalleri</a></li>
          <li><a href="#">Babygalleri</a></li>
          <li><a href="#">Boliggalleri</a></li>
          <li><a href="#">Havebazoom</a></li>
          <li><a href="#">Foto</a></li>
          <li><a href="#">Computer</a></li>
          <li><a href="#">Tattoo</a></li>
        </ul>
      </div>
     
    </div>
    
    <div class="row text-center">
      <div class="span12">
          <small>&copy; Copyright 2013 Bazoom ApS. Alt materiale på denne side er omfattet af gældende lov om ophavsret.</small>
        <small>
          <ul class="inline">
            <li><a href="#">Om Bazoom</a></li>
            <li><a href="#">Brugerbetingelser</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </small>

      </div>
    </div>
  </div>
</footer>