<div class="visual">
  
  <div class="jumbotron">
    <div class="teaser-text">
    	<h1>Opret og Stem på dit Ønskegalleri</h1>
    	<p class="lead">Når I er 500 personer med samme interesse, bygger vi galleriet.</p>
  	</div>
  	<a href="#" class="btn btn-primary btn-large">Stem på Gallerier</a>
  	<a href="#" class="btn btn-success btn-large">Foreslå Nyt Galleri</a>
  </div>
  
  <div class="visual-holder">
  	<div class="visual-frame">
			<div class="visual-block">
        <img src="public/img/visuals/car_59855_car.jpeg" alt="image description" width="140" height="105" />	
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/horse_66022-arabisk_fuldblod_ox_spirit.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img class="my-visuals-horse_18504-welsh_cob_sec_d_camina39s_maccoy_solgt" src="public/img/visuals/horse_18504-welsh_cob_sec_d_camina39s_maccoy_solgt.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/horse_47-frieser_yke_fan_180e_hurddraversdyk.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_30558-bengal_absolutely_super_cooper.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/MC_25886-ducati_desmosedici.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/rc_18307-bil_fg_elcon_beetle_16.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/boat_650-glastron_carlson_cvx20_intimidator.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/MC_26451-honda_fireblade_streetfighter_billig.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/car_213792-bmw_e46_m3_ev206206206l_edition_.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_45943-europe_dkboholdt_clint_eastwood.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/mc_32274-harley_davidson_chopper.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/scooter_298907-puch_vz50.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/boat_5899-b_motorb229d.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_2481-maine_coon_cornelius_d248d_d_19209.jpeg" alt="image description" width="140" height="105" />	
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/car_98100-nissan_350z___black_thunder_nu_p229_facebook.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/bikes_11389-banshee_wildcard_2010_evil_p_edition.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/MC_21275-harley_davidson_satori_bike.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/rc_36812-truck_hpi_custom_savage_ss.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/RC_18619-buggy_hpi_baja_5b.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/bikes_12007-pinarello_dogma_601.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/mc_4427-suzuki_gsx_r_750_srad_solgt.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/car_137329-mercedes_benz_slk_quotcustomquot_.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/boat_5328-hallett_sky_bv_19_39race39.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/bikes_14026-specialized_fsr_stumpjumper_s_works_2011_evil_p_edition.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
        <img src="public/img/visuals/RC_38029-truck_hpi_savage_limited_edition.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/horse_209084-new_forest_toftgaards_new_hope.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/rc_28763-truck_hpi_savage_xl_twin.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/dog_94814-cavalier_king_charles_spaniel_anton.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/bikes_14866-specialized_shiv_pro_version.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/rc_8602-bil_alu_custom_beetle_fg.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_24555-norsk_skovkat_nanok_.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/mc_25403-harley_davidson_xtreme_custom.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/dog_64921-dobermann__hector_troy_del_nasi.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
        <img src="public/img/visuals/boat_4020-princess_50.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/horse_56905-shetlaender__charmeur__rynke_.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/car_186701-toyota_supra___4x_verdensrekord_.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_13900-bengal_leopardettes_lux_of_lama.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/dog_2098-samojedhund_discos_zulu_dancer_quotsikoquot_2003__2011.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/dog_6570-staffordshire_bull_terrier_changelic_staff_ninja.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/horse_66022-arabisk_fuldblod_ox_spirit.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/scooter_229631-skyteam_dax_pimpy.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cars_101016-audi_a4_avant_airrider_v20.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cars_59891-skoda_fabia_rs_solgt.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cars_55773-dodge_charger.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cars_73445-lexus_is_200_solgt.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/dogs_94378-papillon_toymakers_milla_vanilla.jpeg" alt="image description" width="140" height="105" />
      </div>
      <div class="visual-block">
      	<img src="public/img/visuals/cats_45311-ragdoll_naorahdolls_kyle.jpeg" alt="image description" width="140" height="105" />
      </div>
		</div>
	</div> 
</div> <!--/ .visual -->