<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <form class="navbar-search pull-left">
        <input type="text" class="search-query input-xlarge" placeholder="Søg i alle gallerier...">
      </form>
      
      <ul class="nav pull-right">
        <li class="dropdown">
          <a id="drop-lang" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><img src="public/img/dk.gif" style="margin-bottom: 3px;" /> DK <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop-lang">
            <li class="active">
              <a href="#"><img src="public/img/dk.gif" style="margin-bottom: 3px;" /> DK</a>
            </li>
            <li>
              <a href="#"><img src="public/img/uk.gif" style="margin-bottom: 3px;" /> UK</a>
            </li>
            <li>
              <a href="#"><img src="public/img/de.gif" style="margin-bottom: 3px;" /> DE</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Login</a></li>
      </ul>
      
    </div>
  </div>
</div>