{% block content %}
	<div class="row row-spacer">
    <div class="span12 text-center">
      <img src="public/img/logo.png" />
    </div>
  </div>
  
  <div class="row row-spacer">
    
    <div class="span6">
    
      <div class="row">
        <div class="span3">
          <h3><img src="public/img/icon-gallery.png" /> Galleri</h3>
          <p>
            Som bruger af et Bazoom site, kan du dele dine billeder og få løbende feedback.
          </p>
        </div>
        <div class="span3">
          <h3><img src="public/img/icon-tv.png" /> Video</h3>
          <p>
            Det er selvfølgeligt også muligt at dele dine videoer.
          </p>
        </div>
      </div>
    
      <div class="row">
    
        <div class="span3">
          <h3><img src="public/img/icon-community.png" /> Forum</h3>
          <p>
            Stil dine spørgsmål til entusiaster, og deltag i den daglige debat.
          </p>
        </div>
    
        <div class="span3">
          <h3><img src="public/img/icon-adverts.png" /> Annoncer</h3>
          <p>
            Har du noget brugt, du skal af med, eller leder du efter et godt tilbud, så er Bazoom stedet.
          </p>
        </div>
    
      </div>
      
    </div>
  
    <div class="span6">
      <img src="public/img/intro_video.png" style="margin-top: 15px;" />
    </div>
  
  </div>
  
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">
        Alle Gallerier
        <span class="badge">52</span>
      </a>
    </li>
    <li>
      <a href="#">
        Nyeste
        <span class="badge badge-info">10</span>
      </a>  
    </li>
    <li>
      <a href="#">
        Afstemning
        <span class="badge badge-important">35</span>
      </a>
    </li>
    <li>
      <a href="#">
        Beta
        <span class="badge badge-warning">6</span>
      </a>
    </li>
    <li>
      <a href="#">
        Live
        <span class="badge badge-success">11</span>
      </a>
    </li>
  </ul>
  
  <table class="table">
    
    <tr class="first">
      <td>
        <h4><a href="#">Klassisk Motor</a> <span class="label label-warning">Beta</span></h4>
        <p class="muted">
          Galleri for klassiske biler, motorcykler, knallerter og lastbiler, herunder amerikanerbiler. ...
        </p>
      </td>
      <td>
        <div class="box text-center">
          <h1>318</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        
      </td>
      
    </tr>
    
    <tr>
      <td>
        <h4><a href="#">Drifting Galleri</a></h4>
        <p class="muted">
          Et generelt Galleri kun for driftere, hvor der kan deles alt fra gode ideer til billeder af nye projekter mm.
          
          <button class="btn btn-mini pull-right" type="button"><i class="icon-thumbs-up"></i> Stem</button>
        </p>
      </td>
      <td>
        <div class="box text-center">
          <h1>256</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        <div class="box text-center">
          <h1>66</h1>
          <small>dage tilbage</small>
        </div>
      </td>
    </tr>
    
    
    <tr>
      <td>
        <h4><a href="#">Kanin Galleri</a></h4>
        <p class="muted">
          Her kan du dele din viden om kaniner. Både kaninens ve og vel, men også kaninhop, og andre  ...
          
          <button class="btn btn-mini pull-right" type="button"><i class="icon-thumbs-up"></i> Stem</button>
        </p>
      </td>
      <td>
        <div class="box text-center">
          <h1>228</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        <div class="box text-center">
          <h1>70</h1>
          <small>dage tilbage</small>
        </div>
      </td>
    </tr>
    
    
    <tr>
      <td>
        <h4><a href="#">Værksteds Galleri</a></h4>
        <p class="muted">
          Et sted hvor vi kan vise vors værksteder frem osv og bedømme dem køre og sælge bytte værktøj. ...
          
          <button class="btn btn-mini pull-right" type="button"><i class="icon-thumbs-up"></i> Stem</button>
        </p>
      </td>
      <td>
        <div class="box text-center">
          <h1>216</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        <div class="box text-center">
          <h1>90</h1>
          <small>dage tilbage</small>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>
        <h4><a href="#">Tegne Galleri</a> <span class="label label-info">Ny</span></h4>
        <p class="muted">
          Et galleri for alle der tegner! Galleri: Man ligger en række billeder ud man har tegnet måske tegner ...
          
          <button class="btn btn-mini pull-right" type="button"><i class="icon-thumbs-up"></i> Stem</button>
        </p>
      </td>
      <td>
        <div class="box text-center">
          <h1>159</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        <div class="box text-center">
          <h1>91</h1>
          <small>dage tilbage</small>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>
        <h4><a href="#">Mad Galleri</a></h4>
        
        <p class="muted">
          Man kan dele opskrifter og billeder. Få ideer fra andre og dele ens lækre egne opskrifter med andre. ...
          
          <button class="btn btn-mini pull-right" type="button"><i class="icon-thumbs-up"></i> Stem</button>
        </p>
        
        
      </td>
      <td>
        <div class="box text-center">
          <h1>142</h1>
          <small>stemmer</small>
        </div>
      </td>
      <td>
        <div class="box text-center">
          <h1>31</h1>
          <small>dage tilbage</small>
        </div>
      </td>
    </tr>
    
    
  </table>
  
  
  <div class="pagination text-center">
    <ul>
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
  
  
  <div class="row">
    <div class="span12">
      <p class="lead text-center">Fandt du ikke hvad du ledte efter? Ingen problemer, <a href="#">foreslå et nyt galleri</a>.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <p class="boxed pull-left">
        <img src="public/img/icon-camera.png" />
        Foto Galleri
      </p>
    </div>
  </div>
  
  <div id="photo-gallery" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#photo-gallery" data-slide-to="0" class="active"></li>
      <li data-target="#photo-gallery" data-slide-to="1"></li>
      <li data-target="#photo-gallery" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row trimmed">
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/1244-rejse-min-tur-til-new-delhi">
    				    <img src="public/img/gallery-1.jpg" />
    					  <span>Min tur til New Delhi</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://www.bilgalleri.dk/galleri/98100-nissan_350z___black_thunder">
    				    <img src="public/img/gallery-2.jpg" />
    					  <span>Nissan 350Z - Black Thunder</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/3778-dyr-dogs-in-motion">
    				    <img src="public/img/gallery-3.jpg" />
    					  <span>Dogs in motion</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/598-dyr-de-bedste-billeder-jeg-har-taget-">
    				    <img src="public/img/gallery-4.jpg" />
    					  <span>De bedste billeder jeg har taget :)</span>
              </a>
    				</div>
          </div>
          
        </div>
      </div>
      <div class="item">
        <div class="row trimmed">
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://www.bilgalleri.dk/galleri/79953-opel_corsa_a">
    				    <img src="public/img/gallery-5.jpg" />
    					  <span>Opel Corsa A</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/2599-portraet-selvportraetter---2013--">
    				    <img src="public/img/gallery-6.jpg" />
    					  <span>Portræt Selvportrætter - 2013 -</span>
              </a>
    				</div>
          </div>
          
          
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://cross.bazoom.com/dk/galleri/1069-crosser-kawasaki-kx125">
    				    <img src="public/img/gallery-11.jpg" />
    					  <span>Crosser Kawasaki KX125</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/1279-dyr-boxer--border-collie">
    				    <img src="public/img/gallery-8.jpg" />
    					  <span>Boxer / Border collie</span>
              </a>
    				</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row trimmed">
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/360-model-godt-og-blandet">
    				    <img src="public/img/gallery-9.jpg" />
    					  <span>Model Godt og blandet</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/730-motor-lidt-med-motor____">
    				    <img src="public/img/gallery-10.jpg" />
    					  <span>Lidt med motor...</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://www.kattegalleri.dk/galleri/48945-norsk_skovkat_ziggy">
    				    <img src="public/img/gallery-7.jpg" />
    					  <span>Norsk Skovkat Ziggy</span>
              </a>
    				</div>
          </div>
          
          <div class="span3">
            <div class="visual-block visual-block-large">
    				  <a href="http://foto.bazoom.com/dk/galleri/3754-motor-fra-diverse-bilshoots___">
    				    <img src="public/img/gallery-12.jpg" />
    					  <span>Motor Fra diverse bilshoots...</span>
              </a>
    				</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#photo-gallery" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#photo-gallery" data-slide="next">&rsaquo;</a>
  </div>
  
  
  <div class="row row-spacer">
    
    <div class="span6 userquote" style="background-image: url(public/img/backdrop-hifi.jpg);">
      <h4>Hi-Fi Galleri</h4>
      <blockquote>
        <p>Det er fedt at kunne dele ud af ens viden om hifi, og jeg har igennem Hi-Fi Galleri fundet en masse nye venner som deler den samme interesse som mig.</p>
        <small>Jonathan K, 21 år (bruger siden April 2009)</small>
      </blockquote>
      <p>
        <a href="#">Besøg Galleri</a>
      </p>
    </div>
    
    <div class="span6 userquote" style="background-image: url(public/img/backdrop-rc.jpg);">
      <h4>RC Galleri</h4>
      <blockquote>
        <p>Jeg har tit delt billeder og video af mine forskellige RC'er, og har herigennem fået en masse feedback og gode råd.</p>
        <small>Nichlas R, 20 år (bruger siden September 2005)</small>
      </blockquote>
      <p>
        <a href="#">Besøg Galleri</a>
      </p>
    </div>
    
  </div>
  
  <div class="row">
    <div class="span12">
      <p class="lead text-center">Ingen interesse for lille, ingen passion for stor...</p>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <p class="boxed pull-left">
        <img src="public/img/icon-video.png" />
        Video Galleri
      </p>
    </div>
  </div>
  
  <div class="row trimmed">
    
    <div class="span3">
      <div class="visual-block visual-block-large">
			  <a href="#">
			    <img src="public/img/video-1.jpg" />
        </a>
			</div>
    </div>
    
    <div class="span3">
      <div class="visual-block visual-block-large">
			  <a href="#">
			    <img src="public/img/video-2.jpg" />
        </a>
			</div>
    </div>
    
    <div class="span3">
      <div class="visual-block visual-block-large">
			  <a href="#">
			    <img src="public/img/video-3.jpg" />
        </a>
			</div>
    </div>
    
    <div class="span3">
      <div class="visual-block visual-block-large">
			  <a href="#">
			    <img src="public/img/video-4.jpg" />
        </a>
			</div>
    </div>
    
  </div>
  
  
  <div class="row row-spacer">
    <div class="span6">
      <p class="lead">Hvem er Bazoom?</p>
      <p>
        Vores mission – og passion – er at lave sociale interessebaserede sites og give alle passionerede mennesker et online mødested, hvor de kan dele deres interesse eller hobby med ligesindede.
      </p>
      <p>
        Ingen interesse for lille, ingen passion for stor.
      </p>
      <p>
        Bazoom har bygget gallerier siden 2002 og er i dag blandt Danmarks 5 største sites.
      </p>
    </div>
    <div class="span6">
      <p class="lead">Hvorfor er Bazoom anderledes?</p>
      <ul>
        <li>Det er let - vi håndterer alt inkl. opsætning, hosting, support og udvikling</li>
        <li>Det er gratis</li>
        <li>Avanceret platform med f.eks galleri, fotoalbum, video, markedsplads, venner og meget mere</li>
        <li>Det er lavet til din specifikke interesse</li>
      </ul>
    </div>
  </div>
{% endblock %}